.footer{
    background-color:var(--main);
    margin: 0px 0px 0px 0px;
    padding: 20px 0;
    color:white;
}
.footer h5{

}
@media screen and (max-width:450px) {
    h1{
        font-size: 24px !important;
        margin-top: 20px !important;
    }
    .footer h5{
        font-size: 14px !important;
    }
}

@media screen and (max-width:330px) {
    h1{
        font-size: 18px !important;
        margin-top: 30px !important;
    }
    .footer{
    padding: 5px 0;
}
    .footer h5{
        font-size: 10px !important;
    }
}