.card {
  box-shadow: 0px 0px 2px gray;
  height: 400px;
  position: relative;
  margin: 10px;
}

.card-body{
    transition: all 0.5s ease-in-out;
}
.change-card {
  background: white;
  margin-top: -60px;
  transition: all 0.5s ease-in-out;
}
