.cart{
    display: grid;
    grid-template-columns: 0.20fr 0.70fr 0.10fr;
    padding: 5px;
    border-bottom:1px solid rgba(0,0,0,0.3);
    border-top:1px solid rgba(0,0,0,0.3);
   width: 90%;
   margin: 5px auto;
   font-weight: 600;
   
}
.left-block img{
    height: 100px;
    width: 80px;
}
.price{
    display: flex;
    align-items: center;
    justify-self: center;
}
.center-block{
display: grid;
grid-template-columns: 0.3fr 0.2fr 0.3fr 0.2fr;
}
.center-block p , span{
margin: auto 0;    
}
.center-block button{
    border: none;
    outline: none;
    background:  rgb(236, 236, 236);
    padding: 0 10px;
    opacity: 0.6;

}
.quantity-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.right-block{
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-icon:hover{
    cursor: pointer;
    color:blue;
}
.delete-section{
    width: 90%;
   margin: 5px auto;
    text-align: right;
    cursor: pointer;
}
.delete-section span:hover{
    color: blue;
}
.checkout{
    display: flex;
    flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 12px gray;
  width: fit-content;
  margin: 10px auto;
  font-weight: 600;
}

@media screen and (max-width:570px) {
    .left-block img{
        height: 120px;
        width: 90px;
    }
    .center-block{
        padding-left: 40px;
        width: 50%;
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 10px;
        }
}

@media screen and (max-width:320px) {

    .center-block{
        padding-left: 20px;
        width: 50%;
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 10px;
        }
}
